.cartitems{
    margin: 100px 170px;
}

.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}

.cartitems_format_main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: var(--dark);
    font-size: 18px;
    font-weight: 600;
}

.cartitems_format{
    font-size: 17px;
    font-weight: 500;
}

.carticon_product_icon{
    height: 65px;
    width: 50px;
}

.cartitems_remove_icon button{
    width: 30px;
    margin: 1px 20px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 0;
    border-color: var(--dark);
}

.cartitems_quantity{
    width: 64px;
    height: 50px;
    border: 20x solid #ebebeb;
    background: #fff;
}

.cartitems_down{
    display: flex;
    margin: 100px 0px;
}

.cartitems_total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems_total_item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.cartitems_total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: var(--pink);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.cartitems_promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.cartitems_promocode p{
    color: #555;
}

.cartitems_promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background-color: #eaeaea;
}

.cartitems_promobox input{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.cartitems_promobox button{
    width: 170px;
    height: 49px;
    font-size: 16px;
    background: var(--dark);
    color: white;
    cursor: pointer;
}